div.segment-panel {
}

	div.segment-panel h5 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

div#segment-modal {
}

	div#segment-modal div.modal-body {
	}
		div#segment-modal div.modal-body div.timer {
			font-size: 48pt;
		}

			div#segment-modal div.modal-body div.timer-controls.reset button.btn.stop,
			div#segment-modal div.modal-body div.timer-controls.reset button.btn.reset,
			div#segment-modal div.modal-body div.timer-controls.reset button.btn.success,
			div#segment-modal div.modal-body div.timer-controls.reset button.btn.failure,
			div#segment-modal div.modal-body div.timer-controls.stopped button.btn.start,
			div#segment-modal div.modal-body div.timer-controls.stopped button.btn.stop,
			div#segment-modal div.modal-body div.timer-controls.started button.btn.start,
			div#segment-modal div.modal-body div.timer-controls.started button.btn.reset,
			div#segment-modal div.modal-body div.timer-controls.started button.btn.success,
			div#segment-modal div.modal-body div.timer-controls.started button.btn.failure {
				display: none;
			}

		div#segment-modal div.modal-body table {
			font-size: 80%;
		}
