div.segment-panel {
}

	div.segment-panel h5 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

div#segment-modal {
}

	div#segment-modal div.timer {
		font-size: 300%;
	}

	div#segment-modal div.modal-footer.reset button.btn.stop,
	div#segment-modal div.modal-footer.reset button.btn.reset,
	div#segment-modal div.modal-footer.reset button.btn.success,
	div#segment-modal div.modal-footer.reset button.btn.failure,
	div#segment-modal div.modal-footer.stopped button.btn.start,
	div#segment-modal div.modal-footer.stopped button.btn.stop,
	div#segment-modal div.modal-footer.started button.btn.start,
	div#segment-modal div.modal-footer.started button.btn.reset,
	div#segment-modal div.modal-footer.started button.btn.success,
	div#segment-modal div.modal-footer.started button.btn.failure {
		display: none;
	}
